<div class="row ">
    <div class="col offset-l2 l8 offset-m2 m8 s12 z-depth-2">
    	<a routerLink="/home" class="right"><i class="small material-icons hide-on-small-only">close</i></a>
<!--para usar flexbox-->
      <div class="flex">
        <!--Logo-->
        <img src="../assets/caminhao-com-nome.png" class="margem imagem-grande hide-on-med-and-down">
        <div>
            <img src="../assets/caminhao-com-nome.png" class=" margem imagem-medio hide-on-large-only">
        </div>
        <!--texto do sobre nós-->
        <div class="margem caixa-texto">
          <p class="center-align titulo">Sobre nós</p>
          <p class="center-align texto">Somos seu novo Market Place voltado para encontrar os melhores fornecedores de alimento para sua empresa.</p>
        </div>
        <!--texto dos nossos serviços-->
        <div class=" margem caixa-texto-2">
          <p class="center-align titulo">Nossos Serviços</p>
          <p class="center-align texto">Oferecemos uma ampla variedade de empresas voltadas ao ramo de frios e hortifruti</p>
        </div>
        <!--ícones-->
        <div class="margem margem2 center-align hide-on-med-and-down">
          <img src="../../../assets/foto.png" class="foto">
        </div>
      </div>
    </div>
</div>
