
/*Classes*/
.col{
	background-color: #4E9525;
	margin-left: 15em;
	margin-top: 8vh;
	padding: 2em 3em;
}
/*para usar flexbox*/
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*imagem maior do caminhao*/
.imagem-grande{
	height: 15em;
	margin-left: 4em;
}
/*imagem menor do caminhao*/
.imagem-medio{
	margin-left: 6em;
	margin-right: 5em;
	height: 30vh;
}
/*caixa de texto do sobre nós*/
.caixa-texto{
	width: 17em;
	margin-left: 1vw;
}
/*caixa de texto dos nossos serviços*/
.caixa-texto-2{
	width: 17em;
	margin-left: 5vw;
	margin-right: 5vw;
}
.titulo{
	font-family: 'Rubik', sans-serif;
  font-size: 5vh;
  color:white;
	font-weight: bold;
	text-shadow: 2px 2px #656565;
}
.texto{
	color:white;
	font-family: 'Rubik', sans-serif;
	text-shadow: 1px 1px #656565;
}
/*ícones de comida que so aparecem em imagens grandes*/
.foto{
	height: 25vh;
	margin-left: -3em;
}
/*Elementos*/
a{
	color: white;
}
