<div class="row ">
    <div class="col offset-l2 l8 offset-m2 m8 s12 z-depth-2">
    	<a routerLink="/home" class="right"><i class="small material-icons hide-on-small-only">close</i></a>
<!--para usar flexbox-->
      <div class="flex">
        <img src="../assets/truck.png" class="imagem-grande hide-on-med-and-down">
        <div class="">
            <img src="../assets/truck.png" class="imagem-medio hide-on-large-only">
        </div>
        <div class="caixa-texto">
          <p class="center-align titulo">Sobre nós</p>
          <p class="center-align texto">Somos seu novo Market Place voltado para encontrar os melhores fornecedores de alimento para sua empresa.</p>
        </div>
      </div>
    </div>
</div>
