<div class="row">
    <div class="col offset-l4 offset-m3 l4 m6 s12 z-depth-2" id="fundo">
    	<a routerLink="/home" class="right"><i class="small material-icons">close</i></a>

      <form #cadastroCliente="ngForm" (ngSubmit)="onSubmit(cadastroCliente)">
        <div class="row">
          <div class="col l10 offset-l1 m12 s10 offset-s1">
            <img src="../assets/caminhao-com-nome.png" class="center-align">
            <!--nome-->
            <div class="input-field ">
              <input placeholder="Nome" id="nome" type="text" class="validate" name="nome" ngModel required #nome="ngModel">
              <label for="nome"></label>
            </div>
            <!--senha-->
            <div class="input-field ">
              <input placeholder="Senha" id="senha" type="password" class="validate" name="senha" ngModel required #senha="ngModel" (blur)="checkPassword(senha)">
              <label for="senha"></label>
            </div>
            <div *ngIf="passwordError">
                <p> Sua senha deve conter 6 caracteres </p>
            </div>
            <!--email-->
            <div class="input-field ">
              <input placeholder="Email" id="email" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" ngModel required #email="ngModel">
              <label for="email"></label>
            </div>
            <!--telefone-->
            <div class="input-field ">
              <input placeholder="Telefone" id="telefone" type="text" class="validate" name="telefone" ngModel required #telefone="ngModel" (blur)="checkNumber(telefone)">
              <label for="telefone"></label>
            </div>
            <div *ngIf="numberError">
                <p> Coloque um numero de telefone valido </p>
            </div>
            <!--endereco-->
            <div class="input-field ">
              <input placeholder="Endereço" id="endereco" type="text" class="validate" name="endereco" ngModel required #endereco="ngModel">
              <label for="endereco"></label>
            </div>
            <!--cnpj-->
            <div class="input-field ">
              <input placeholder="CNPJ" id="cnpj" type="text" class="validate" name="cnpj" ngModel required #cnpj="ngModel" (blur)="checkCnpj(cnpj)">
              <label for="cnpj"></label>
            </div>
            <div *ngIf="cnpjError">
                <p> Coloque um numero de cnpj valido(sem pontuação) </p>
            </div>
            <!--upload imagem-->
            <div class="file-field input-field">
              <div class="btn">
                <span>Imagem</span>
                <input type="file" name="myImage" accept="image/jpeg,image/x-png" name="image" ngModel required #image="ngModel">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="baixo row">
          <button class="btn waves-effect hoverable col l4 offset-l4 m6 offset-m3 s8 offset-s2" [disabled]="cadastroCliente.invalid || passwordError || email.invalid" type="submit">Realizar Cadastro</button>
        </div>
      </form>
    </div>
    <div>
    </div>
</div>
