<div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s12 z-depth-2">
    	<a routerLink="/home" class="right"><i class="small material-icons">close</i></a>
      <form #cadastroEmpresa="ngForm" (ngSubmit)="onSubmit(cadastroEmpresa)">
        <div class="row">
          <div class="col l4 offset-l1 m10 offset-m1 s10 offset-s1 center-align">
            <img src="../assets/caminhao-com-nome.png">
            <!--nome-->
            <div class="input-field ">
              <input placeholder="Nome" id="nome" type="text" class="validate" name="nome" ngModel required #nome="ngModel">
              <label for="nome"></label>
            </div>
            <!--senha-->
            <div class="input-field ">
              <input placeholder="Senha" id="senha" type="password" class="validate" name="senha" ngModel required #senha="ngModel" (blur)="checkPassword(senha)">
              <label for="senha"></label>
            </div>
            <div *ngIf="passwordError">
              <p> Sua senha deve conter 6 ou mais caracteres</p>
            </div>
            <!--email-->
            <div class="input-field ">
              <input placeholder="Email" id="email" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" ngModel required #email="ngModel">
              <label for="email"></label>
            </div>
            <!--telefone-->
            <div class="input-field ">
              <input placeholder="Telefone" id="telefone" type="text" class="validate" name="telefone" ngModel required #telefone="ngModel" (blur)="checkNumber(telefone)">
              <label for="telefone"></label>
            </div>
            <div *ngIf="numberError">
              <p>Coloque um numero de telefone valido </p>
            </div>
            <!--endereco-->
            <div class="input-field ">
              <input placeholder="Endereço" id="endereco" type="text" class="validate" name="endereco" ngModel required #endereco="ngModel">
              <label for="endereco"></label>
            </div>
            <!--cnpj-->
            <div class="input-field ">
              <input placeholder="CNPJ" id="cnpj" type="text" class="validate" name="cnpj" ngModel required #cnpj="ngModel" (blur)="checkCnpj(cnpj)">
              <label for="cnpj"></label>
            </div>
            <div *ngIf="cnpjError">
              <p> Coloque um numero de CNPJ valido(sem pontuaçao)</p>
            </div>
            <!--Chamar imagem-->
            <div class="file-field input-field">
              <div class="btn">
                <span>Imagem</span>
                <input type="file" name="myImage" accept="image/jpeg,image/x-png" name="image" ngModel required #image="ngModel">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <!--Produto-->
          <div class="col l5 offset-l1 offset-m1 m10 s10 offset-s1">
            <table>
               <thead>
                 <tr>
                     <th>Mercadoria</th>
                     <th>Preco/kg</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                  <td>
                    <div class="input-field col s12">
                      <select name="multiSelect" [(ngModel)]="selectedOption" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions" [disabled]="isDisabled?true:null" name="categoria" ngModel required #categoria="ngModel">
                        <option value="" disabled selected>Frios</option>
                        <option value="1">Carne de boi</option>
                        <option value="2">Carne de frango</option>
                        <option value="3">Carne de porco</option>
                        <option value="4">Carne de peixe</option>
                        <option value="" disabled selected>Hortifruti</option>
                        <option value="6">frutas</option>
                        <option value="7">Hortaliças</option>
                      </select>
                      <label>Produto</label>
                    </div>
                  </td>
                   <td><div class="input-field ">
                     <input placeholder="R$" id="preco" type="text" class="validate" name="preco" ngModel required #preco="ngModel">
                     <label for="preco"></label>
                   </div></td>
                 </tr>
               </tbody>
             </table>
             <p class="alerta center-align">Caso queira adicionar mais produtos, vá para configurações</p>
          </div>
        </div>
        <div class="baixo row">
          <button class="botao btn waves-effect hoverable col l4 offset-l4 m6 offset-m3 s8 offset-s2" [disabled]="cadastroEmpresa.invalid || passwordError || email.invalid" type="submit">Realizar Cadastro</button>
        </div>
      </form>
    </div>
    <div>
    </div>
</div>
