<div class="row ">
    <div class="col offset-l4 offset-m3 l4 m6 s12 z-depth-2">
    	<a routerLink="/home" class="right"><i class="small material-icons">close</i></a>
    	<img src="../assets/truck.png">
      <h1>Qual destes você se encaixa ?</h1>
      <div class="row">
        <button class="waves-effect waves-light btn col s12 m12 l12" name="button"><a routerLink="/cadastroCliente">Cliente</a></button>
        <button class="waves-effect waves-light btn col s12 m12 l12" name="button" routerLink="/cadastroEmpresa">Fornecedor</button>
      </div>

    	<a id="cadastro" routerLink="/login">Já tem cadastro?</a>
    </div>
</div>
