
  <nav id="slide-out" class="side-nav fixed">
    <div class="titulo center-align">
      <p>SUPAPP</p>
    </div>
    <ul class="collapsible center-align" data-collapsible="accordion">
    	<li class="botoes-nav">
    		<div class="collapsible-header">Frios</div>
    		<div class="collapsible-body">
    			<div class="row">
    				<div class="col s12 m12">
    					<ul class="collapsible" data-collapsible="accordion">
    						<li class="botoes-nav-2">
    							<div class="collapsible-header">Carnes</div>
    							<div class="collapsible-body">
    								<ul>
                      <li><a href="#" class="botoes-nav-3">Peixe</a></li>
                      <li><a href="#" class="botoes-nav-3">Boi</a></li>
                      <li><a href="#" class="botoes-nav-3">Frango</a></li>
                      <li><a href="#" class="botoes-nav-3">Porco</a></li>
                    </ul>
    							</div>
    						</li>
    						<li class="botoes-nav-2">
    							<div class="collapsible-header">Derivados</div>
    							<div class="collapsible-body">
                    <ul>
                      <li><a href="#" class="botoes-nav-3">Manteiga</a></li>
                      <li><a href="#" class="botoes-nav-3">Leite</a></li>
                      <li><a href="#" class="botoes-nav-3">Frango</a></li>
                    </ul>
    							</div>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</li>
    	<li class="botoes-nav">
    		<div class="collapsible-header">Hortifruti</div>
    		<div class="collapsible-body">
          <ul>
            <li><a href="#" class="botoes-nav-3">Frutas</a></li>
            <li><a href="#" class="botoes-nav-3">Hortaliças</a></li>
          </ul>
        </div>
    	</li>
    <li>
    <a href="#!" class="botao-sobre center-align">Sobre nós</a>
    </li>
  </ul>
</nav>
