<nav id="slide-out" class="side-nav fixed">
<!--Logo-->
  <div class="titulo center-align">
    <p>SUPAPP</p>
  </div>
  <ul class="collapsible center-align" data-collapsible="accordion">
    <li>
      <!--Frios-->
      <div class="collapsible-header botoes-sidenav-1">Frios</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s12 m12">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <!--Carnes-->
                <div class="collapsible-header botoes-sidenav-2">Carnes</div>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="botoes-sidenav-3">Peixe</a></li>
                    <li><a href="#" class="botoes-sidenav-3">Boi</a></li>
                    <li><a href="#" class="botoes-sidenav-3">Frango</a></li>
                    <li><a href="#" class="botoes-sidenav-3">Porco</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <!--Derivados-->
                <div class="collapsible-header botoes-sidenav-2">Derivados</div>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="botoes-sidenav-3">Manteiga</a></li>
                    <li><a href="#" class="botoes-sidenav-3">Leite</a></li>
                    <li><a href="#" class="botoes-sidenav-3">Frango</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <!--Hortifruti-->
      <div class="collapsible-header botoes-sidenav-1">Hortifruti</div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#" class="botoes-sidenav-3">Frutas</a></li>
          <li><a href="#" class="botoes-sidenav-3">Hortaliças</a></li>
        </ul>
      </div>
    </li>
  <li>
    <!--botao sobre nos-->
    <a href="#!" class="botao-sobre center-align">Sobre nós</a>
  </li>
</ul>
</nav>
