<div class="row">
  <div class="bg-fundo col l4 offset-l4 m8 offset-m2">
      <a routerLink="/home" class="right"><i class="small material-icons">close</i></a>
      <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1 center-align">
        <img src="../assets/caminhao-com-nome.png">
        <form #login="ngForm" (ngSubmit)="onSubmit(login)">
    		<div class="row ">
        	<div class="input-field ">
          	<input placeholder="Email" id="email" type="email" class="validate" name="email" ngModel required #email="ngModel">
          	<label for="email"></label>
        	</div>
          <div *ngIf="email.touched && email.invalid">
            <p>Campo Obrigatório!</p>
          </div>
      	</div>
      	<div class="row">
        	<div class="input-field ">
          	<input placeholder="Senha" id="password" type="password" class="validate" name="password" ngModel required #senha="ngModel" (blur)="passwordCheck(senha)">
          	<label for="password"></label>
        	</div>
          <div *ngIf="passwordError && senha.touched">
            <p>Sua senha deve ter no mínimo 6 caracteres</p>
          </div>
      	</div>
        <button class="botao btn waves-effect hoverable col l4 offset-l4 m6 offset-m3 s8 offset-s2" type="submit" [disabled]=" login.invalid || passwordError" >Entrar</button>
    	</form>
      </div>
  </div>
</div>
