<app-navbar></app-navbar>
<button class="waves-effect waves-light" (click)="abreModal()">Modal</button>
<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="bg-header">
      <i class="small material-icons" (click)="fecharModal()">close</i>
      <h4 class="center-align empresa">Empresa</h4>
      <p class="center-align endereco">Endereço</p>
    </div>
    <div>
      <img class="foto" src="../../../assets/empresa-exemplo.png">
    </div>
    <div class="bg-contato">
      <p class="texto-info center-align">Informações para contato</p>
      <div class="row">
        <p class="texto center-align col l3 m3 s3">Telefone</p>
        <div class="espaco col l8 m8 s8 center-align">(21)99999-9999</div>
      </div>
      <div class="row">
        <p class="texto center-align col l3 m3 s3">Email</p>
        <div class="espaco col l8 m8 s8 center-align">fulanodetal@gmail.com</div>
      </div>
    </div>
    <div>
      <p class="footer">Produtos disponíveis</p>
      <div class="espaco-antes">
        <img src="../../../assets/meat.png" class="icones">
        <img src="../../../assets/chicken.png" class="icones">
        <img src="../../../assets/pork.png" class="icones">
      </div>
      <div class="btn">Faça uma estipulação</div>
    </div>
  </div>
</div>
