<app-navbar></app-navbar>

<button class="waves-effect waves-light" (click)="abreModal()">Modal</button>
<!--modal-->
<div class="modal row" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="flex">
      <div class="bg-header">
        <i class="small material-icons" (click)="fecharModal()">close</i>
        <h4 class="center-align empresa">Empresa</h4>
        <p class="center-align endereco">Endereço</p>
      </div>
      <!--foto da empresa-->
      <img class="foto" src="../../../assets/empresa-exemplo.png">
    </div>
    <div class="row">
      <div class="col l8 push-l4 m12 s12">
        <!--info contato-->
        <div class="bg-contato">
          <p class="texto-info center-align">Informações para contato</p>
          <div class="row">
           <p class="texto col l3 offset-l1 m3 s3 center-align">Telefone</p>
           <div class="espaco col l8 m8 s8 center-align">(21)99999-9999</div>
          </div>
          <div class="row">
           <p class="texto col l3 offset-l1 m3 s3 center-align">Email</p>
           <div class="espaco col l8 m8 s8 center-align">fulanodetal@gmail.com</div>
          </div>
        </div>
      </div>
     <!--produtos disponiveis-->
      <p class="col l4 pull-l8 m12 s12 center-align footer">Produtos disponíveis</p>
    </div>
    <div class="row">
      <form #login="ngForm" (ngSubmit)="onSubmit(login)">
        <table>
           <thead>
             <tr>
                 <th>Mercadoria</th>
                 <th>Preco/kg</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>
                 <div class="input-field col s12">
                    <select>
                      <optgroup label="Frios">
                        <option value="1">Carne de boi</option>
                        <option value="2">Carne de frango</option>
                        <option value="3">Carne de frango</option>
                        <option value="4">Carne de porco</option>
                        <option value="5">Manteiga</option>
                        <option value="6">Leite</option>
                        <option value="7">Queijo</option>

                      </optgroup>
                      <optgroup label="Hortifruti">
                        <option value="8">Frutas</option>
                        <option value="9">hortaliças</option>
                      </optgroup>
                    </select>
                    <label>Quantidade</label>
                  </div>
               </td>
               <td><div class="input-field ">
                 <input placeholder="kg" id="kg" type="text" class="validate" name="kg" ngModel required #kg="ngModel">
                 <label for="kg"></label>
               </div></td>
             </tr>
           </tbody>
         </table>
         <button class="waves-effect waves-light btn white btn col l4 hide-on-med-and-down" type="submit" >Enviar</button>
         <button class="waves-effect waves-light btn white btn col m12 s12 hide-on-large-only" type="submit">Enviar</button>
         </form>
      <!--botao para estipulação-->
    </div>
  </div>
</div>
