<div class="row">
  <div class="bg-fundo col l4 offset-l4 m8 offset-m2">
      <a routerLink="/home" class="right"><i class="small material-icons">close</i></a>
      <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1 center-align">
        <img src="../assets/caminhao-com-nome.png">
        <p>Você precisa estar logado!<br>Tem conta?</p>
        <button class="botao btn waves-effect hoverable col l4 offset-l4 m6 offset-m3 s8 offset-s2" routerLink="/login">Entrar</button>
        <button class="botao btn waves-effect hoverable col l4 offset-l4 m6 offset-m3 s8 offset-s2" routerLink="/cadastro">Cadastre-se</button>
      </div>
  </div>
</div>
