<app-navbar></app-navbar>
<div class="row">
  <a class="col l2 offset-l9 m6 s12 waves-effect btn botao-cadastro hoverable hide-on-med-and-down" href="#"><span>Cadastre-se</span></a>
  <a class="col l2 offset-l9 m12 s12 waves-effect btn botao-entrar hoverable" routerLink="/login"><span>Entrar</span></a>
  <img class="col l3 offset-l6 hide-on-med-and-down" src="../../../assets/logo-com-nome.png">
  <img class="col m4 offset-m4 hide-on-small-only hide-on-large-only" src="../../../assets/caminhao-com-nome.png">
  <img class="col s6 offset-s3 hide-on-med-and-up" src="../../../assets/truck.png">
  <div class="col l5 offset-l5 m8 offset-m2 s10 offset-s1 barra-pesquisa"></div>
</div>
