
  <ul id="slide-out" class="side-nav fixed collapsible" data-collapsible="accordion">
    <div class="titulo center-align">
      <p>SUPAPP</p>
    </div>
    <li class="botoes-nav">
      <div class="collapsible-header"><a href="#!" class="texto-botoes">Frios</a></div>
      <div class="collapsible-body">outros botoes</div>
    </li>
    <li class="botoes-nav">
      <div class="collapsible-header"><a href="#!" class="texto-botoes">Hortifruti</a></div>
      <div class="collapsible-body">outros botoes</div>
    </li>
    <li><a href="#!" class="botao-sobre center-align">Sobre nós</a></li>
  </ul>
