
  <nav id="slide-out" class="side-nav fixed">
    <div class="titulo center-align">
      <p>SUPAPP</p>
    </div>
    <ul class="collapsible center-align" data-collapsible="accordion">
    	<li>
    		<div class="collapsible-header hover-botao"
        [ngClass]="{
          'clicado':clicked,
          'nao-clicado':!clicked
        }"
        (click)="onClick()">Frios</div>
    		<div class="collapsible-body">
    			<div class="row">
    				<div class="col s12 m12">
    					<ul class="collapsible" data-collapsible="accordion">
    						<li>
    							<div class="collapsible-header hover-botao-2"
                  [ngClass]="{
                    'clicado-2':clicked,
                    'nao-clicado-2':!clicked
                  }"
                  (click)="onClick()">Carnes</div>
    							<div class="collapsible-body">
    								<ul>
                      <li><a href="#" class="botoes-sidenav">Peixe</a></li>
                      <li><a href="#" class="botoes-sidenav">Boi</a></li>
                      <li><a href="#" class="botoes-sidenav">Frango</a></li>
                      <li><a href="#" class="botoes-sidenav">Porco</a></li>
                    </ul>
    							</div>
    						</li>
    						<li>
    							<div class="collapsible-header hover-botao-2"
                  [ngClass]="{
                    'clicado-2':clicked,
                    'nao-clicado-2':!clicked
                  }"
                  (click)="onClick()">Derivados</div>
    							<div class="collapsible-body">
                    <ul>
                      <li><a href="#" class="botoes-sidenav">Manteiga</a></li>
                      <li><a href="#" class="botoes-sidenav">Leite</a></li>
                      <li><a href="#" class="botoes-sidenav">Frango</a></li>
                    </ul>
    							</div>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</li>
    	<li>
    		<div class="collapsible-header hover-botao"
        [ngClass]="{
          'clicado':clicked,
          'nao-clicado':!clicked
        }"
        (click)="onClick()">Hortifruti</div>
    		<div class="collapsible-body">
          <ul>
            <li><a href="#" class="botoes-sidenav">Frutas</a></li>
            <li><a href="#" class="botoes-sidenav">Hortaliças</a></li>
          </ul>
        </div>
    	</li>
    <li>
    <a href="#!" class="botao-sobre center-align">Sobre nós</a>
    </li>
  </ul>
</nav>
